:root {
  --clr-gray-light: #d7dfe2;
  --clr-gray-med: #616b74;
  --clr-gray-dark: #414b56;
  --clr-link: #4d97b2;
  --clr-popular: #ef257a;
  --clr-technology: #651fff;
  --clr-psychology: #e85808;

  --primary-color: #3C91E6;
  --secondary-color: #263141;
  --warning-color: #FF7A3D;
  --success-color: #1DC389;
  --danger-color: #FF4F4F;
}